*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*------- Header */

/*Title */
.titile{
    color: red;
    text-decoration: none;
    font-family: Impahsl(0, 100%, 50%) Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 30px solid ;
    padding: 10px;
    
}

.top-header{
    display: flex;
    justify-content: space-between;
    
    padding: 5px;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    
    padding: 5px;
}
.nav-item >ul{
    display: flex;
    list-style-type: none;
}
.nav-item > ul > li{
    padding: 10px;
}

.search{
    padding: 10px;
}

/* btn style */
.btn-categories{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}
.dropdown{
    position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.nav-item > ul > li:hover,.btn-singin:hover,.btn-fav:hover,.btn-categories:hover{
    background-color: rgb(172, 151, 151);
    cursor: pointer;
}
.btn-fav,.btn-singin{
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
.btn-fav{
    border: none;
}

.btn-singin{
    border: 0.5px solid  black;
    border-radius: 3px;
}

.location-svg{
    width: 20px;
}


/*------------------Body */
.body{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading{
    width: 1000px;
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    color: white;
}

.banner{
    width: 100%;
    margin: -10px;
}
/* Recommended */
.recommended::-webkit-scrollbar {
  display: none;
}
.recommended{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid bl;
}
.recommended-card{
    position: relative;
    border: 0.5px solid rgb(214, 225, 131);
    background-color: rgb(240, 229, 229);
}

.recommended-text-left{
    font-size: 12px;
    width: 20px;
    position: absolute;
    bottom: 2px;
    left: 10px;
    display: inline;
    color: white;
}
.recommended-text-right{
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
}
.recommended-img{
    width: 250px;
    height: 350px;
    margin: -10px;
}
/* upcoming shows */
.upcoming{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid bl;
}
.upcoming-card{
    position: relative;
    border: 0.5px solid gray;
    margin: 10px;
    padding: 10px;
}

.upcoming-text-left{
    font-size: 10px;
}
.upcoming-text-right{
    font-size: 10px;
}
.upcoming-img{
    position: relative;
}
.upcoming-location-svg{
    width: 10px;
}
.upcoming-img{
    width: 250px;
}
.upcoming-des{
    display: flex;
    justify-content: space-between;
}

.date{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgb(0, 0, 0,0.5);
}
.upcoming-card:hover,.recommended-card:hover{
    cursor: pointer;
}
/* Footer */
.footer{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
}
.footer-ul{
    list-style-type: none;
}
.footer-ul >li{
    padding: 2px;
}
.footer-img:hover,.footer-ul >li:hover{
    color: aqua;
    cursor: pointer;
}
.footer-img{
    width: 40px;
    margin: 10px;
}


.footer-heading{
    margin-top: auto;
    margin-bottom: 0px;
}